@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Debate Board</h1>
    <p class="lead">Debate Board is a free web app.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Debate Board gives you a powerful tool to debate any subject.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more options</h2>
        <p>Debate Board is a free app that makes it easy to add, remove, and update your opinion on any subject.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be informed</h2>
        <p>You can easily find a subject of your interest and express your opinions about it.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>