@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Debate Board</h1>
    <p class="lead">
        If you have a story to tell, knowledge to share, or a perspective to offer, welcome home.
        Here, it’s easy and free to post your thinking on any topic, whether it’s a standalone piece, a blog, or a publication with other writers.
        And with tools that let you express yourself creatively and connect with a growing audience of readers, you’ll have the chance to plant a seed, or even start a movement..
    </p>
    @*<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Share your ideas</h2>
        <p>Write about what matters to you, and give form to anything from a quick thought to a long story.</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Build an audience</h2>
        <p>Find and engage with readers who care about what you have to say, and to read more of it.</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Earn money</h2>
        <p>If you choose, you can get paid for your writing when members read your stories.</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>